# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Variables de entorno (NUNCA subir)
.env
.env.*

# Entornos virtuales
venv/
.venv/
.env/
env/

# Node
node_modules/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
