/* BASE CSS */
/* Integrando el núcleo de Tailwind CSS v4 */
@import "tailwindcss";

/* Usado para variables globales y pequeños ajustes que Tailwind no cubre por defecto */

:root {
    --core-gold: #eab308;
    --core-dark: #0a0a0a;
}

body {
    /* Deslizamiento suave general */
    scroll-behavior: smooth;
    background-color: var(--core-dark);
}

/* Animación de pulso personalizada para el 'Alma' visual */
@keyframes glow-pulse {

    0%,
    100% {
        opacity: 0.3;
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        opacity: 0.6;
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.animate-pulse-slow {
    animation: glow-pulse 6s infinite ease-in-out;
}